.comments-container {
    padding-left: 20px;
}

.comment {
    background: #ededed;
    border-radius: 50px 50px 50px 0;
}

.liked-comment mat-icon{
    color: blue;
}

.example-form {
    min-width: 150px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}